body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000;
    color: white;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #ffcc00;
}

#gameCanvas {
    border: 2px solid #fff;
    margin-top: 20px;
}

#score {
    font-size: 20px;
    margin-top: 10px;
}

#reiniciar {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: #ff5733;
    color: white;
    border-radius: 5px;
    margin-top: 10px;
}

#reiniciar:hover {
    background-color: #c70039;
}
